<!DOCTYPE html>
<html lang="nl">

<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>
{% block title %}
VacatureWatcher
{% endblock %}
</title>


<link rel="stylesheet"
href="/static/style.css">


</head>


<body>


<header>

<h2>
VacatureWatcher
</h2>


<a href="/">
Dashboard
</a>


<a href="/vacatures">
Alle vacatures
</a>


<a href="/vacatures/tijdlijn">
Tijdlijn
</a>


<a href="/employer/add">
Bron toevoegen
</a>


<a href="/system/adapters">
Systeem: Adapters
</a>


<a href="/system/diagnose">
Systeem: Diagnose
</a>


</header>



<div class="container">

{% block content %}
{% endblock %}

</div>


</body>

</html>