{% extends "base.html" %}


{% block title %}
Dashboard
{% endblock %}



{% block content %}


<h1>
Bronnen
</h1>


<a class="button"
   href="/employer/add">

Nieuwe werkgever

</a>

<a class="button"
   href="/source/jobboard/add">

Nieuwe vacaturesite

</a>


<br><br>


{% if employers %}


<table>


<tr>

<th>
Naam
</th>

<th>
Type
</th>

<th>
Adapter
</th>

<th>
Status
</th>

<th>
Laatste controle
</th>

<th>
Acties
</th>

</tr>



{% for employer in employers %}


<tr>


<td>

<a href="/employer/{{ employer.id }}">

{{ employer.name }}

</a>

</td>



<td>

{% if employer.type == "jobboard" %}
<span class="badge badge-jobboard">vacaturesite</span>
{% else %}
<span class="badge badge-employer">werkgever</span>
{% endif %}

</td>


<td>
<code>{{ employer.adapter }}</code>
</td>


<td>

{% if employer.enabled %}

🟢 Actief

{% else %}

🔴 Uitgeschakeld

{% endif %}


</td>



<td>

{{ employer.last_check or "Nog niet gecontroleerd" }}

</td>



<td>


<a class="button"
href="/employer/{{ employer.id }}/check">

Controle

</a>


</td>


</tr>


{% endfor %}


</table>



{% else %}


<p>
Nog geen bronnen toegevoegd.
</p>


{% endif %}



{% endblock %}
