{% extends "base.html" %}


{% block title %}
Werkgever wijzigen
{% endblock %}



{% block content %}


<h1>
Werkgever wijzigen
</h1>



<form method="post">


<label>
Naam werkgever
</label>

<br>

<input
type="text"
name="name"
value="{{ employer.name }}"
required
>


<br><br>



<label>
Vacaturepagina URL
</label>

<br>

<input
type="url"
name="url"
size="80"
value="{{ employer.url }}"
required
>


<br><br>



<label>
CSS selector (optioneel)
</label>

<br>

<input
type="text"
name="selector"
size="80"
value="{{ employer.selector or '' }}"
>


<p>
Laat leeg om de volledige pagina te controleren.
</p>



<br>



<label>
Zoekwoorden
</label>

<br>

<input
type="text"
name="keywords"
size="80"
value="{{ employer.keywords or '' }}"
>


<p>
Voorbeeld:
beheer, ict, netwerk, asset
</p>



<br><br>



<label>
Controle interval
</label>

<br>


<select
name="check_interval"
>


<option value="daily"
{% if employer.check_interval == "daily" %}
selected
{% endif %}
>

Dagelijks

</option>



<option value="weekly"
{% if employer.check_interval == "weekly" %}
selected
{% endif %}
>

Wekelijks

</option>



<option value="disabled"
{% if employer.check_interval == "disabled" %}
selected
{% endif %}
>

Uitgeschakeld

</option>



</select>



<br><br><br>



<button
class="button"
type="submit">

Opslaan

</button>



<a
class="button"
href="/employer/{{ employer.id }}">

Annuleren

</a>



</form>



<hr>



<h3>
Werkgever verwijderen
</h3>


<p>
Let op: hiermee worden ook de opgeslagen vacatures en historie verwijderd.
</p>



<a
class="button"
href="/employer/{{ employer.id }}/delete"
onclick="return confirm('Werkgever en historie verwijderen?');">

Werkgever verwijderen

</a>



{% endblock %}