{% extends "base.html" %}


{% block title %}
Werkgever toevoegen
{% endblock %}



{% block content %}


<h1>
Nieuwe werkgever toevoegen
</h1>



<form method="post">


<label>
Naam werkgever
</label>

<br>

<input
type="text"
name="name"
required
placeholder="Bijvoorbeeld: Gemeente Rotterdam"
>


<br><br>



<label>
Vacaturepagina URL
</label>

<br>

<input
type="url"
name="url"
size="80"
required
placeholder="https://www.website.nl/vacatures"
>


<br><br>



<label>
CSS selector (optioneel)
</label>

<br>

<input
type="text"
name="selector"
size="80"
placeholder="Bijvoorbeeld: div.jobs-list"
>


<p>
Gebruik dit alleen als niet de hele pagina gecontroleerd moet worden.
</p>



<br>



<label>
Zoekwoorden
</label>

<br>

<input
type="text"
name="keywords"
size="80"
placeholder="bijvoorbeeld: ict, netwerk, beheer, asset"
>


<p>
Alleen vacatures met één van deze woorden worden gemeld.
Gebruik komma's tussen woorden.
</p>



<br><br>



<label>
Controle interval
</label>

<br>


<select
name="check_interval"
>


<option value="daily">

Dagelijks

</option>


<option value="weekly">

Wekelijks

</option>


<option value="disabled">

Uitgeschakeld

</option>


</select>



<p>
Dagelijks = elke dag controleren<br>
Wekelijks = één keer per week controleren<br>
Uitgeschakeld = geen automatische controle
</p>



<br><br>



<button
class="button"
type="submit">

Opslaan

</button>


<a
class="button"
href="/">

Annuleren

</a>



</form>



{% endblock %}